<br />
<h2>Productos</h2>

<app-alert [message]="message" [type]="type"></app-alert>
<div *ngIf="loading; else content">Cargando...</div>

<ng-template #content>
  <div class="products">
    <div class="card" *ngFor="let p of products">
      <h3>{{ p.name }}</h3>
      <p>{{ p.description }}</p>
      <p>Precio: ${{ p.price }}</p>
      <p>Stock: {{ p.stock }}</p>
      <p *ngIf="p.stock === 0" style="color: red">Agotado</p>

      <button (click)="addToCart(p)" [disabled]="p.stock === 0">Agregar al carrito</button>
    </div>
  </div>
  <br />
</ng-template>
